body{
    background-color: hsl(36, 4%, 49%);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-image: url(images/florian-olivo-4hbJ-eymZ1o-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
#box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
#Password{
    font-size: 2rem;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: rgb(65, 63, 60);
    font-weight: bold;
    text-align: center;
    box-shadow:0 0 25px hsla(0, 0%, 0%, 0.581);
}

button{
    font-size: 1.5rem;
    padding: 10px;
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgb(65, 63, 60);
    box-shadow: 3px 3px 5px black;
    cursor: pointer;
}
button:hover{
    background-color: rgb(110, 106, 100);
    transform: scale(1.03);
}

@media (max-width:720px){
    #Password{
        width: 100%;
    }
}


